body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: black;
    text-decoration: none;
}

body, .dropdown-menu > a {
    font-size: 16px;
}

.topbar {
    display: flex;
    border: 1px solid black;
    border-left: 0;
    border-right: 0;
}

.topbar, .dropdown-menu {
    background-color: #ffe000;
    /* background-color: #8B7; */
}

.fluid-container {
    display: flex;
    margin: 0 auto;
    max-width: 1000px;
    /* border: 1px dotted red; */
}

.content {
    padding: 20px 30px;
    max-width: 600px;
}

.logo {
    font-size: 28px;
    font-family: 'Century Gothic';
    white-space: nowrap;
}

.logo, .role {
    margin: auto 20px;
}

.logo > i {
    margin: auto 10px;
    font-size: 25px;
}

.menu {
    display: flex;
    min-width: 600px; /* should be the same as content max-width */
}

/* padding effectively decides the height of the menu */
.menu > a {
    padding: 30px;
    white-space: nowrap;
}

.role {
    position: absolute;
    right: 10px;
    top: 25px;
    height: 30px;
    margin-right: 20px;
}

.menu > a:hover, .dropdown-button:hover, .dropdown-menu > a:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

/* Dropdown menu */ 
.dropdown-button {
    display: none;
    font-size: 30px;
}

.dropdown-button:hover > .dropdown-menu {
    display: block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    border: 1px solid black;
}

.dropdown-menu > a {
    display: block;
    padding: 10px 15px;
}

/* changes layout if screen is resized to below specified size */
/* hides default menu and enables dropdown menu */
@media only screen and (max-width: 900px) { /* 768 ? */
    .logo, .dropdown-button {
        padding: 5px 15px;
    }

    .menu {
        display: none;
    }

    .dropdown-button {
        display: block;
    }

    .role {
        position: relative;
        top: 0;
        margin: auto 10px;
    }
}

