table {
    width: 100%;
    border-spacing: 0;
    padding: 5px;
}


th {
    padding: 10px 5px;
    margin: 0;
}

tbody {
    /* padding: 10px 15px; */
    padding: 50px;
    vertical-align: top;
    text-align: left;
}

.supervisorBox {
    background-color: #eaeaea;
}

table tr:nth-child(2n) {
    background-color: #f0f0f0;
}

.link {
    text-decoration: underline;
}

.supervisorBox td.buttons {
    white-space: nowrap;
    text-align: right;
}

table.studentList {
    max-height: 500px;
    width: 100%;
    overflow: scroll;
    /* border: 1px solid black; */
    /* padding: 20px;
    line-height: 25px; */
}

.studentList th {
    text-align: left;
    background-color: #ffe000;
}

.feedbackBox {
    width: 100%;
    height: 300px;
    resize: none;
}